<a href="https://colab.research.google.com/github/ChitosKir/-Python/blob/main/%D0%A7%D0%B5%D1%82%D0%B8%D0%BD_Task_3_Var_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Массивы(списки)

**№1. Сколько элементов массива превосходят по модулю заданное число А.**

In [ ]:
array = list(map(int, input("Введите элементы массива:").split()))
A = int(input("A = "))
count = 0
for elem in array:
  if abs(elem) > abs(A):
    count += 1
print(count)

Введите элементы массива:1 2 -4 -5 0 11 -2 3
A = 3
3

**№2. Дан целочисленный массив размера N. Вывести вначале все содержащиеся в данном массиве четные числа в порядке возрастания их индексов, а затем — все нечетные числа в порядке убывания их индексов.**

In [ ]:
array = list(map(int, input("Введите элементы массива:").split()))
for elem in array:
  if elem % 2 == 0:
    print(elem, end = ' ')
print()
for i in range(len(array)-1,-1,-1):
  if array[i] % 2 != 0:
    print(array[i], end = ' ')

Введите элементы массива:1 2 4 8 9 0 3 5 10
2 4 8 0 10
5 3 9 1

**№3. Дан массив размера N и целое число K (1 <= K < N). Осуществить сдвиг элементов массива влево на K позиций (при этом AN перейдет в AN–K, AN–1 — в AN–K–1, …, AK+1 — в A1, а исходное значение K первых элементов будет потеряно). Последние K элементов полученного массива положить равными 0**

In [ ]:
array = list(map(int, input("Введите элементы массива:").split()))
k = int(input("K = "))
for i in range(0, k):
  for j in range(0, len(array)-i-1):
    array[j] = array[j+1]
  array[-(i+1)] = 0

for elem in array:
  print(elem, end = ' ')

Введите элементы массива:1 2 3 4 5 6
K = 3
4 5 6 0 0 0

**№4.	Дан целочисленный двумерный массив, размерности n х m. Выяснить, в какой строке последовательность является возрастающей или убывающей**

In [12]:
n = int(input("n = "))
m = int(input("m = "))
array = [[0]*m for i in range(n)]
for i in range(0, n):
  for j in range(0, m):
    array[i][j] = int(input(f"a[{i}][{j}]->"))

print("Array:")
for i in range(0, n):
  for j in range(0, m):
    print(array[i][j], end = ' ')
  print()

for i in range(0, n):
  flag_ascending = True
  flag_descending = True

  for j in range(0, m-1):
    if array[i][j] >= array[i][j+1]:
      flag_ascending = False
    if array[i][j] <= array[i][j+1]:
      flag_descending = False

  if flag_ascending:
    print(f"строка {i+1}: возрастающая")
  elif flag_descending:
    print(f"строка {i+1}: убывающая")
  else:
    print(f"строка {i+1}: не возрастающая и не убывающая")

n = 3
m = 3
a[0][0]->1
a[0][1]->2
a[0][2]->3
a[1][0]->9
a[1][1]->8
a[1][2]->7
a[2][0]->6
a[2][1]->2
a[2][2]->9
Array:
1 2 3
9 8 7
6 2 9
строка 1: возрастающая
строка 2: убывающая
строка 3: не возрастающая и не убывающая

##Словари

**№1. Подсчет частоты слов: Напишите функцию, которая принимает строку и возвращает словарь, где ключи — это слова, а значения — их частота в строке**

In [16]:
def str_to_dict(string):
  dict = {}
  for key in string.split():
    dict[key] = dict.get(key, 0) + 1
  return dict

string = "apple orange banana apple banana apple"
dict = str_to_dict(string)
print(dict)

{'apple': 3, 'orange': 1, 'banana': 2}

**№2. Инвертирование словаря: Напишите функцию, которая принимает словарь и возвращает новый словарь, где ключи и значения поменяны местами. Если значения не уникальны, объедините ключи в список**

In [23]:
def invert_dict(dict):
  new_dict = {}
  for key, value in dict.items():
    if value in new_dict:
      if not isinstance(new_dict[value], list):
        new_dict[value] = [new_dict[value]]
      new_dict[value].append(key)
    else:
      new_dict[value] = key
  return new_dict

dict = {
    "apple": 3,
    "orange": 1,
    "banana": 2,
    "peach": 2
}
new_dict = invert_dict(dict)
print(new_dict)

{3: 'apple', 1: 'orange', 2: ['banana', 'peach']}

**№3. Слияние словарей: Напишите функцию, которая принимает два словаря и возвращает новый словарь, содержащий все ключи из обоих словарей. Если ключи совпадают, значения должны быть суммированы**

In [32]:
def merge_dict(dict1, dict2):
  new_dict = {}
  for key in dict1:
    new_dict[key] = dict1.get(key)
  for key, value in dict2.items():
    if key in new_dict:
      new_dict[key] += value
    else:
      new_dict[key] = value
  return new_dict

dict1 = {
    "apple": 3,
    "orange": 1,
}
dict2 = {
    "banana": 2,
    "apple": 4,
    "peach": 5,
    "orange": 1
}
new_dict = merge_dict(dict1, dict2)
print(new_dict)

{'apple': 7, 'orange': 2, 'banana': 2, 'peach': 5}

**№4. Фильтрация по значению: Напишите функцию, которая принимает словарь и пороговое значение, и возвращает новый словарь, содержащий только те пары ключ-значение, где значение больше порогового**

In [33]:
def filtering(dict, val):
  new_dict = {}
  for key, value in dict.items():
    if value > val:
      new_dict[key] = value
  return new_dict

dict = {
    "apple": 5,
    "orange": 1,
    "banana": 10,
    "peach": 2
}
val = 4
new_dict = filtering(dict, val)
print(new_dict)

{'apple': 5, 'banana': 10}

**№5. Группировка по длине ключей: Напишите функцию, которая группирует ключи словаря по их длине и возвращает словарь, где ключи — это длины, а значения — списки ключей соответствующей длины**

In [36]:
def group_by_len(dict):
  new_dict = {}
  for key in dict.keys():
    if len(key) not in new_dict:
      new_dict[len(key)] = []
    new_dict[len(key)].append(key)
  return new_dict

data = {
    "a": 1,
    "bb": 2,
    "ccc": 3,
    "dd": 4,
    "ee": 5,
    "ffff": 6
}
new_dict = group_by_len(data)
print(new_dict)

{1: ['a'], 2: ['bb', 'dd', 'ee'], 3: ['ccc'], 4: ['ffff']}

№6. Удаление дубликатов: Напишите функцию, которая удаляет дубликаты значений из словаря, оставляя только первое вхождение

In [62]:
def del_duplicates(dict):
  new_dict = {}
  for key in dict:
    if (dict[key] not in new_dict.values()):
      new_dict[key] = dict[key]
  return new_dict

data = {
    "a": 1,
    "b": 1,
    "ccc": 3,
    "dd": 4,
    "ee": 6,
    "ffff": 6
}
new_dict = del_duplicates(data)
print(new_dict)

{'a': 1, 'ccc': 3, 'dd': 4, 'ee': 6}

**№7. Группировка по типам значений: Напишите функцию, которая группирует ключи словаря по типам их значений (например, int, str, list).**

In [4]:
def group_by_type(dict):
  type_dict = {}
  for key, value in dict.items():
    if type(value).__name__ not in type_dict:
      type_dict[type(value).__name__] = []
    type_dict[type(value).__name__].append(key)
  return type_dict

data = {
    'a': 1,
    'b': 'hello',
    'c': [1, 2, 3],
    'd': 2,
    'e': 'world',
    'f': {'x': 1},
    'g': [4, 5]
}
types = group_by_type(data)
print(types)

{'int': ['a', 'd'], 'str': ['b', 'e'], 'list': ['c', 'g'], 'dict': ['f']}

**№8. Среднее значение: Напишите функцию, которая вычисляет среднее значение всех числовых значений в словаре**

In [1]:
def mean_dict(dict):
  S, k = 0, 0
  for value in dict.values():
    S += value
    k += 1
  return S / k

data = {
    "a": 1,
    "b": 1,
    "c": 3,
    "d": 4,
    "e": 6,
    "f": 6
}
print("Среднее значение = ", mean_dict(data))

Среднее значение =  3.5

**№9. Ключи с палиндромами: Напишите функцию, которая возвращает список ключей, связанных со значениями-палиндромами**

In [6]:
def is_palindrome(value):
  flag = True
  for i in range(0, len(value)//2):
    if value[i] != value[-(i+1)]:
      flag = False
  return flag

def palindromes_in_dict(dict):
  list_pal = []
  for key in dict:
    if is_palindrome(dict[key]):
      list_pal.append(key)
  return list_pal

data = {
    'a': 'racecar',
    'b': 'hello',
    'c': 'madam',
    'd': 'world',
    'e': 'level',
    'f': 'python'
}
list_pal = palindromes_in_dict(data)
print(list_pal)

['a', 'c', 'e']

**№10. Глубокая копия словаря: Напишите функцию, которая создает глубокую копию словаря, включая все вложенные структуры данных.**

In [14]:
def my_deepcopy(obj):
  if isinstance(obj, dict):
    return {key : my_deepcopy(value) for key, value in obj.items()}
  elif isinstance(obj, list):
    return [my_deepcopy(value) for value in obj]
  elif isinstance(obj, set):
    return {my_deepcopy(value) for value in obj}
  elif isinstance(obj, tuple):
    return tuple(my_deepcopy(value for value in obj))
  else:
    return obj

original = {
    'a': 1,
    'b': [2, 3, {'x': 10}],
    'c': {'y': 4},
    'd': (5, 6)
}
copy = my_deepcopy(original)
print("original: ", original)
print("copy:     ", copy)
copy['b'][0] = 123
copy['c']['y'] = 0
print("После изменений:")
print("original: ", original)
print("copy:     ", copy)

original:  {'a': 1, 'b': [2, 3, {'x': 10}], 'c': {'y': 4}, 'd': (5, 6)}
copy:      {'a': 1, 'b': [2, 3, {'x': 10}], 'c': {'y': 4}, 'd': (5, 6)}
После изменений:
original:  {'a': 1, 'b': [2, 3, {'x': 10}], 'c': {'y': 4}, 'd': (5, 6)}
copy:      {'a': 1, 'b': [123, 3, {'x': 10}], 'c': {'y': 0}, 'd': (5, 6)}

## Множества

**№1. Создание множества из списка: Напишите функцию, которая принимает список и возвращает множество, содержащее уникальные элементы списка**

In [26]:
def list_to_set(list1):
  return set(list1)

list1 = [1, 2, 2, 3, 4, 4, 4]
set1 = list_to_set(list1)
print(set1)

{1, 2, 3, 4}

**№2. Пересечение множеств: Напишите функцию, которая принимает два множества и возвращает их пересечение**

In [16]:
def intersect_sets(set1, set2):
  return set1.intersection(set2)

set1 = {1, 2, 3}
set2 = {2, 3, 4}
set_inter = intersect_sets(set1, set2)
print(set_inter)

{2, 3}

**№3. Симметрическая разность: Напишите функцию, которая принимает два множества и возвращает их симметрическую разность**

In [17]:
def symmet_diff(set1, set2):
  return set1.symmetric_difference(set2)

set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = symmet_diff(set1, set2)
print(set3)

{1, 2, 4, 5}

**№4. Добавление элементов: Напишите функцию, которая добавляет все элементы из списка в множество**

In [18]:
def add_list_to_set(list1, set1):
  for elem in list1:
    set1.add(elem)
  return set1

set1 = {1, 2}
list1 = [2, 3, 4]
new_set = add_list_to_set(list1, set1)
print(new_set)

{1, 2, 3, 4}

**№5. Удаление элементов: Напишите функцию, которая удаляет из множества все элементы, присутствующие в списке.**

In [19]:
def delete_by_list(list1, set1):
  for elem in list1:
    set1.discard(elem)
  return set1

set1 = {1, 2, 3, 4, 5}
list1 = [2, 4, 0]
new_set = delete_by_list(list1, set1)
print(new_set)

{1, 3, 5}

**№6. Уникальные элементы: Напишите функцию, которая находит элементы, которые есть только в одном из двух списков.**

In [25]:
def unique_elems(list1, list2):
  set1 = set(list1)
  set2 = set(list2)
  set3 = set1.symmetric_difference(set2)
  return list(set3)

list1 = [1, 2, 3]
list2 = [3, 4, 5]
new_list = unique_elems(list1, list2)
print(new_list)

[1, 2, 4, 5]

**№7. Проверка на пустоту: Напишите функцию, которая проверяет, является ли множество пустым**

In [28]:
def is_empty(set1):
  return len(set1) == 0

set1 = set()
set2 = {1}
print(is_empty(set1))
print(is_empty(set2))

True
False

**№8. Сортировка множества: Напишите функцию, которая преобразует множество в отсортированный список.**

In [29]:
def set_to_sorted_list(set1):
  return list(sorted(set1))

set1 = {4, 1, 3, 2}
list1 = set_to_sorted_list(set1)
print(list1)

[1, 2, 3, 4]

**№9. Разбиение множества: Напишите функцию, которая разбивает множество на два: одно с четными числами, другое с нечетными.**

In [30]:
def split_set(set1):
  set_even = set()
  set_odd = set()
  for elem in set1:
    if elem % 2 == 0:
      set_even.add(elem)
    else:
      set_odd.add(elem)
  return set_even, set_odd

set1 = {1, 2, 3, 4, 5, 6}
set_even, set_odd = split_set(set1)
print("Четные: ", set_even)
print("НЕчетные", set_odd)

Четные:  {2, 4, 6}
НЕчетные {1, 3, 5}

**№10. Проверка на взаимоисключающие множества: Напишите функцию, которая проверяет, являются ли два множества взаимоисключающими (т.е. не имеют общих элементов)**

In [32]:
def is_mutually_exclusive(set1, set2):
  return len(set1.intersection(set2)) == 0

set1 = {1, 2}
set2 = {3, 4}
print(is_mutually_exclusive(set1, set2))
set2 = {2, 3}
print(is_mutually_exclusive(set1, set2))

True
False

##Кортежи

**№1. Создание кортежа из списка: Напишите функцию, которая принимает список и возвращает кортеж, содержащий те же элементы.**

In [33]:
def list_to_tuple(lst):
  return tuple(lst)

lst = [1, 2, 3]
tpl = list_to_tuple(lst)
print(tpl)

(1, 2, 3)

**№2. Объединение кортежей: Напишите функцию, которая принимает два кортежа и возвращает их объединение**

In [35]:
def union_tuple(tpl1, tpl2):
  return tpl1 + tpl2

t1 = (1, 2, 3)
t2 = (3, 4)
t3 = union_tuple(t1, t2)
print(t3)

(1, 2, 3, 3, 4)

**№3. Индекс первого вхождения: Напишите функцию, которая находит индекс первого вхождения заданного элемента в кортеже.**

In [38]:
def index_in_tuple(tpl, value):
  for i in range (0, len(tpl)):
    if tpl[i] == value:
      return i
  return -1

t = (1, 2, 3, 2, 4)
elem = 3
print(index_in_tuple(t, elem))

2

**№4. Количество вхождений элемента: Напишите функцию, которая подсчитывает, сколько раз заданный элемент встречается в кортеже.**

In [40]:
def count_occurrences(tpl, elem):
  count = 0
  for i in range (0, len(tpl)):
    if tpl[i] == elem:
      count += 1
  return count

t = (1, 2, 3, 2, 4, 2)
elem = 2
print(count_occurrences(t, elem))

3

**№5. Разбиение кортежа: Напишите функцию, которая разбивает кортеж на две части: первую половину и вторую половину.**

In [43]:
def split_tuple(tpl):
  tpl1 = (tpl[0:len(tpl)//2])
  tpl2 = (tpl[len(tpl)//2:len(tpl)])
  return tpl1, tpl2

t = (1, 2, 3, 4, 5, 6, 7)
t1, t2 = split_tuple(t)
print(t1)
print(t2)

(1, 2, 3)
(4, 5, 6, 7)

**№6. Обратный порядок: Напишите функцию, которая возвращает кортеж с элементами в обратном порядке.**

In [46]:
def reverse_tuple(tpl):
  return tuple(reversed(tpl))

t = (1, 2, 3, 4, 5, 6, 7)
t1 = reverse_tuple(t)
print(t1)

(7, 6, 5, 4, 3, 2, 1)

**№7. Фильтрация по условию: Напишите функцию, которая фильтрует кортеж, оставляя только те элементы, которые удовлетворяют заданному условию (например, больше 10).**

In [47]:
def filter_tuple(tpl):
  lst = []
  for elem in tpl:
    if elem > 10:
      lst.append(elem)
  return tuple(lst)

t = (5, 15, 8, 22)
t1 = filter_tuple(t)
print(t1)

(15, 22)

**№8. Сумма элементов: Напишите функцию, которая вычисляет сумму всех числовых элементов в кортеже**

In [49]:
def sum_of_tuple_elems(tpl):
  S = 0
  for elem in tpl:
      S += elem
  return S

t = (1, 2, 3, 2, 4, 2)
print(sum_of_tuple_elems(t))

14

**№9. Кортеж из строки: Напишите функцию, которая преобразует строку в кортеж символов.**

In [53]:
def str_to_tuple(s):
  return tuple(s)

s = "hello"
tpl = str_to_tuple(s)
print(tpl)

('h', 'e', 'l', 'l', 'o')

**№10. Кортеж с палиндромами: Напишите функцию, которая создает кортеж, содержащий только строки-палиндромы из заданного списка строк.**

In [54]:
def is_palindrome(value):
  flag = True
  for i in range(0, len(value)//2):
    if value[i] != value[-(i+1)]:
      flag = False
  return flag

def tuple_palindromes(lst):
  lst_pal = []
  for elem in lst:
    if is_palindrome(elem):
      lst_pal.append(elem)
  return tuple(lst_pal)

words = ["madam", "hello", "noon", "world"]
print(tuple_palindromes(words))

('madam', 'noon')