## **Тема 2**

**№1. Вычислить значение выражения**

In [ ]:
x = float(input("Введите x = "))
y = (x**2 - 4*x + 4) / ((x + 5)**2 - 49)
print("y = ", y)

Введите x = 4
y =  0.125

**№2. Вычислить значение выражения**

In [ ]:
from math import *
x = float(input("Введите x = "))
y = float(input("Введите y = "))
w = (sin(x) + cos(y)) / (cos(x) - sin(y)) * tan(x * y)
print("w = ", w)

Введите x = 0.5
Введите y = 1
w =  15.426627840870863

**№3. Вычислить периметр и площадь прямоугольного треугольника по данным длинам двух катетов a и b**

In [ ]:
a = float(input("Катет a = "))
b = float(input("Катет b = "))
P = a + b + (a**2 + b**2)**0.5
S = a * b
print("Периметр = ", P)
print("Площадь = ", S)

Катет a = 5
Катет b = 12
Периметр =  30.0
Площадь =  60.0

**№4. Дано целое число, большее 999. Используя одну операцию деления нацело и одну операцию взятия остатка от деления, найти цифру, соответствующую разряду сотен в записи этого числа**

In [ ]:
x = int(input("Введите число = "))
x = x % 1000
x = x // 100
print("Разряд сотен = ", x)

Введите число = 2896
Разряд сотен =  8

**№5. Даны два целых числа: A, B. Проверить истинность высказывания: «Справедливы неравенства A <= 0 или B < –2».**

In [ ]:
a = float(input("Число A = "))
b = float(input("Число B = "))
print(a <= 0 or b < (-2))

Число A = 3
Число B = -4
True

## Тема 4

**№1. Вычислить значение функции в точке**

In [ ]:
x = float(input("Введите x = "))
if x <= 13:
  y = -x**3 + 9
else:
  y = -3 / (x + 1)
print(f"f({x}) = {y}")

Введите x = 14
f(14.0) = -0.2

**№2. Подсчитать количество отрицательных чисел среди чисел m, n, p.**

In [ ]:
m = int(input("m = "))
n = int(input("n = "))
p = int(input("p = "))
k = 0
if m < 0:
  k+=1
if n < 0:
  k+=1
if p < 0:
  k+=1
print(k)

m = 1
n = -2
p = 3
1

**№3. В небоскребе N этажей и всего один подъезд; на каждом этаже по три квартиры; лифт может останавливаться только на нечетных этажах. Человек садится в лифт и набирает  номер нужной ему квартиры М. На какой этаж должен доставить лифт пассажира?**

In [ ]:
N = int(input("N = "))
M = int(input("M = "))
floor = M // 3
if M % 3 != 0:
  floor+=1
if floor > N:
  print("В доме нет столько квартир")
elif floor % 2 == 0:
  floor+=1
  if floor > N:
    floor-=2
  print("floor = ", floor)

N = 4
M = 12
floor =  3

**№4. Если целое число m делится нацело на целое число n, то вывести на экран частное от деления, в противном случае вывести сообщение "m на n нацело не
делится"**

In [ ]:
m = int(input("m = "))
n = int(input("n = "))
if m % n == 0:
  print(m/n)
else:
  print(m, " на ", n, " нацело не делится")

m = 15
n = 4
15  на  4  нацело не делится

**№5. Поле шахматной доски определяется парой натуральных чисел, каждое из которых не превосходит 8: первое число — номер вертикали (при счете слева направо), второе — номер горизонтали (при счете снизу вверх). Даны натуральные числа a, b, c, d, каждое из которых не превосходит 8. На поле (a, b) расположен конь. Определить, угрожает ли он полю (c, d).**

In [ ]:
print("(a, b) = ")
a, b = map(int, input().split())
print("(c, d) = ")
c, d = map(int, input().split())
if (abs(a - c) == 2 and abs(b - d) == 1) or (abs(a - c) == 1 and abs(b - d) == 2):
  print(f"Конь на ({a},{b}) угрожает полю ({c},{d})")
else:
  print(f"Конь на ({a},{b}) НЕ угрожает полю ({c},{d})")

(a, b) =
4 4
(c, d) =
5 2
Конь на (4,4) угрожает полю (5,2)

##Тема 7

**№1.	Найти наибольший общий делитель трех заданных натуральных чисел,
используя алгоритм Евклида и учитывая, что НОД(a, b, c) = НОД(НОД(a, b), c).**

In [ ]:
a = int(input("a = "))
b = int(input("b = "))
c = int(input("c = "))

while a != 0 and b != 0:
  if a > b:
    a = a % b
  else:
    b = b % a
gcd_1 = a + b

while gcd_1 != 0 and c != 0:
  if gcd_1 > c:
    gcd_1 = gcd_1 % c
  else:
    c = c % gcd_1
print("gcd = ", gcd_1 + c)

a = 46
b = 98
c = 30
gcd =  2

**№2.	Даны: натуральное n, действительное х. Вычислить: S = tgx + tg(tgx) + $\sum_{i=1}^{n} tg(tg(tgx))$**

In [ ]:
from math import tan
n = int(input("n = "))
x = float(input("x = "))
S = tan(x) + tan(tan(x))
for i in range(0,n):
  S += tan(tan(tan(x)))
print("S = ", S)

n = 1
x = 0.5
S =  1.8503213211608844

**№3.	Найти сумму ряда с точностью ε=0,001, общий член которого: a = n!/(3n+1)!**

In [ ]:
from math import factorial

eps = 0.001
n = 0
a = factorial(n) / factorial(3 * n + 1)
S = a

while a > eps:
    n += 1
    a = factorial(n) / factorial(3 * n + 1)
    S += a

print(S)

1.0420634920634921

**№4.	Дано целое число K, а также K наборов ненулевых целых чисел. Каждый набор содержит не менее трех элементов, признаком его завершения является число 0. Для каждого набора выполнить следующее действие: если набор является пилообразным, то вывести количество его элементов; в противном случае вывести номер первого элемента, который не является зубцом.**

In [ ]:
K = int(input("K = "))
for i in range(0,K):
  num1 = int(input("->"))
  num2 = int(input("->"))
  num3 = int(input("->"))
  count = 3
  while num3 != 0:
    if (num1 < num2 < num3) or (num1 > num2 > num3):
      print(count)
      break
    num1, num2 = num2, num3
    num3 = int(input("->"))
    count+=1
  if num3 == 0:
    print(count-1)

K = 2
->1
->2
->1
->5
->4
->10
->1
->0
7
->9
->3
->4
->5
4

##Тема 8

**№1.	Найти все натуральные числа, не превосходящие заданного n, которые делятся на каждую из своих цифр**

In [ ]:
def is_divisible(x):
  a = x
  while a != 0:
    digit = a % 10
    if digit == 0 or x % digit != 0:
      return False
    a //= 10
  return True

n = int(input("n = "))
for i in range(1, n + 1):
  if (is_divisible(i)):
    print(i)

n = 50
1
2
3
4
5
6
7
8
9
11
12
15
22
24
33
36
44
48

**№2.	Даны две дроби A/B и C/D (А, В, С, D — натуральные числа). Составить функцию вычитания из первой дроби второй. Ответ должен быть несократимой дробью.**

In [ ]:
def gcd(a, b):
  while a != 0 and b != 0:
    if a > b:
      a = a % b
    else:
      b = b % a
  return a + b

def division(A, B, C, D):
  numer = A*D + C*B
  denom = B * D
  gcd_value = gcd(numer, denom)
  numer /= gcd_value
  denom /= gcd_value
  return int(numer), int(denom)

A = int(input("A = "))
B = int(input("B = "))
C = int(input("C = "))
D = int(input("D = "))

numer, denom = division(A, B, C, D)
print(numer, "/", denom)

A = 1
B = 2
C = 3
D = 4
5 / 4

**№3.	Ежедневно Незнайка учит половину от суммы выученных за два предыдущих дня иностранных слов и еще два слова. Знайка считает, что силы Незнайки иссякнут, когда нужно будет выучить 50 слов в день. Написать программу, определяющую, через сколько дней иссякнут силы у Незнайки, если в первые два дня он выучил по одному слову**

In [ ]:
def count_days():
  prev1, prev2 = 1, 1
  count = 2
  current = prev1 + prev2
  while current < 50:
    current = (prev1 + prev2) // 2 + 2
    prev1, prev2 = prev2, current
    count+=1
  return count - 1

print(count_days())

49